body {
  font-family: Verdana;
}

div.autocomplete {
  margin:0px;  
  padding:0px;  
  width:250px;
  background:#fff;
  border:1px solid #888;
  position:absolute;
}

div.autocomplete ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

div.autocomplete ul li.selected { 
  background-color:#ffb;
}

div.autocomplete ul li {
  margin:0;
  padding:2px;
  height:64px;
  display:block;
  list-style-type:none;
  cursor:pointer;
}

div.autocomplete ul li img {
  vertical-align: middle;
}

.displayValue {
  margin-left: 15px;
}

.carContainer {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  float: left;
  width: 350;
  margin-right: 10px;
}

.carContainer img {
  vertical-align: middle;
  margin: 0px 30px 0px 10px;
}

.carContainer span.carName {
  color:#444444;
  font-family:Verdana;
  font-size:30px;
  font-weight:bold;
}

#preview {
  position:absolute;
  right: 20px;
  top:20px;
  width: 350px;
}

#preview .carContainer {
  border: 1px dashed #ccc;
}

form {
  width: 400px;
  position: relative;
  left: 50%;
  margin-left: -200px;
}

form input {
  width: 100%;
}

a.removeButton {
  color:red;
  float:right;
  font-weight:bold;
  margin-right:4px;
  text-decoration:none;
}